body {
    background:black;
    color:white;
}
form{
  margin-top:250px;
  text-align:center;
}
h1{
  text-decoration:underline red
}
input{
  background:red;
  margin-left:140px;
  margin-right:140px;
  margin-top:20px;
  border-radius:10px;
  width:70px;
}